@font-face {
	font-family: "Linux Libertine";
	font-weight: 400;
	font-style: normal;
	src: url("../LinLibertine_R.ttf") format("truetype");
}

:root {
	--ui-color1: white;
	--ui-color2: black;
	--ui-color3: #a7d7f9;
	--ui-color4: #f6f6f6;
	--ui-color5: #a2a9b1;

	--event-pink:	#f3c7d1;
	--event-orange:	#f9dac5;
	--event-yellow:	#fbeecc;
	--event-green:	#cae5d7;
	--event-blue:	#c6dff3;
	--event-purple: #dbcdf0;
}

html, body {
	height: 100%;
	width: 100%;
	/* IOS Safari Fix */
	height: -webkit-fill-available;
}

body {
	--table-border-width: 1px;
	--table-hour-height: calc((100vh - 13 * var(--table-border-width)) / 12);
	--table-border-color: var(--ui-color5);
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0;
	background: var(--table-border-color);
	overflow: hidden;
}

* {
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
}

input[type="checkbox"] {display: none;}



/* Guy Selection Container */
.guy-selection-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(var(--table-hour-height) + 2 * var(--table-border-width));
	min-height: calc(var(--table-hour-height) + 2 * var(--table-border-width));
	width: 100%;
	border: var(--table-border-width) solid var(--table-border-color);
}

.guy-selection {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	min-height: 100%;
	width: 100%;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
}
.guy-selection ~ .guy-selection {border-left: var(--table-border-width) solid var(--table-border-color);}
input:checked + .guy-selection {background: var(--table-border-color);}



/* Weekday Headings */
.weekday-heading-container {
	display: flex;
	height: calc(var(--table-hour-height) + var(--table-border-width));
	width: 100%;
	padding-right: var(--table-border-width);
	padding-top: var(--table-border-width);
	z-index: 9999;
}

.weekday-heading {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	margin-left: var(--table-border-width);
	text-transform: capitalize;
}



/* Schedule */
.schedule-wrapper {
	position: relative;
	flex-grow: 1;
	padding-bottom: var(--table-border-width);
	/* overflow-y: scroll; */
	overflow-y: hidden;
	scrollbar-width: none;
}

.schedule {
	position: relative;
	width: 100%;
}

.tr {
	display: flex;
	height: calc(var(--table-hour-height) + var(--table-border-width));
	padding-right: var(--table-border-width);
	padding-top: var(--table-border-width);
}
.td {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: calc(100vw / 8);
	margin-left: var(--table-border-width);
	background: var(--ui-color1);
	overflow: hidden;
}

.weekday-heading, .td:nth-child(1) {
	font-family: "Linux Libertine";
	font-size: 20px;
	background: var(--ui-color4);
}
.weekday-heading span, .td span {
	display: block;
	/* transform: rotate(-5deg); */
}



/* Events */
.event {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: calc((100vw - 9 * var(--table-border-width)) / 8);
	font-family: sans-serif;
	font-size: 6px;
	line-height: 1.3;
	padding: 10px;
	color: var(--ui-color2);
	overflow: hidden;
}
.show-event {display: flex;}

.event-abbr {
	display: none;
	font-size: 1.1em;
	font-weight: 700;
}
.event-code {
	opacity: 0.5;
	font-style: italic;
	font-size: 0.9em;
	margin: 2px 0;
}
.event-time span {white-space: nowrap;}