@font-face {
	font-family: "Linux Libertine";
	font-weight: 400;
	font-style: normal;
	src: url("../LinLibertine_R.ttf") format("truetype");
}

:root {
	--ui-color1: white;
	--ui-color2: black;
	--ui-color3: #a7d7f9;
	--ui-color4: #f6f6f6;
	--ui-color5: #a2a9b1;
}

html, body {
	height: 100%;
	width: 100%;
	/* IOS Safari Fix */
	height: -webkit-fill-available;
}

body {
	--table-border-size: 1px;
	--table-hour-height: calc((100vh - var(--table-border-size)) / 11 + var(--table-border-size));
	--table-border-color: var(--ui-color5);
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0;
	background: var(--ui-color1);
	overflow: hidden;
}

* {
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
}

input[type="checkbox"] {display: none;}



/* Guy Selection Container */
.guy-selection-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(var(--table-hour-height) + 2 * var(--table-border-size));
	min-height: calc(var(--table-hour-height) + 2 * var(--table-border-size));
	width: 100%;
	border: var(--table-border-size) solid var(--table-border-color);
}

.guy-selection {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	min-height: 100%;
	width: 100%;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
}
.guy-selection ~ .guy-selection {border-left: var(--table-border-size) solid var(--table-border-color);}
input:checked + .guy-selection {background: var(--table-border-color);}



/* Weekday Headings */
.weekday-heading-container {
	display: flex;
	height: var(--table-hour-height);
	width: 100%;
	border-top: 0;
	z-index: 9999;
}

.weekday-heading {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	min-height: 100%;
	width: 100%;
	border: var(--table-border-size) solid var(--table-border-color);
	text-transform: capitalize;
}
.weekday-heading + .weekday-heading {margin-left: calc(-1 * var(--table-border-size));}



/* Schedule */
.schedule-wrapper {
	position: relative;
	flex-grow: 1;
	margin-top: calc(-1 * var(--table-border-size));
	overflow-y: scroll;
	scrollbar-width: none;
}

.schedule {
	position: relative;
	width: 100%;
	background: var(--table-border-color);
}

.tr {
	display: flex;
	height: calc(var(--table-hour-height));
}
.tr + .tr {margin-top: calc(-1 * var(--table-border-size));}
.td {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	background: var(--ui-color1);
	border: var(--table-border-size) solid var(--table-border-color);
	overflow: hidden;
}
.td + .td {margin-left: calc(-1 * var(--table-border-size));}

.weekday-heading, .td:nth-child(1) {
	font-family: "Linux Libertine";
	font-size: 20px;
	font-weight: 600;
	background: var(--ui-color4);
}
.weekday-heading span, .td span {
	display: block;
	/* transform: rotate(-5deg); */
}



/* Events */
.event {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: sans-serif;
	font-size: 8px;
	line-height: 1.3;
	padding: 10px;
	color: var(--ui-color2);
	overflow: hidden;
}
.show-event {display: flex;}

.event-time {margin-top: 3.5px;}