body {--table-hour-height: 60px;}

.weekday-heading, .td:nth-child(1) {font-size: 9px;}

.event {
	font-size: 6px;
	padding: 10px;
}

.event-name {display: none;}
.event-abbr {display: block;}
.event-time {
	display: flex;
	flex-direction: column;
}